# === Test ===
coverage~=4.2
lettuce~=0.2.21
pytest~=2.9

# Optional speed-up for Lettuce, but Docker image build issue needs fixing, see:
# https://github.com/ensime/ensime-docker/pull/8
# python-Levenshtein~=0.12

# === Dev Tooling ===
flake8~=2.5
flake8-import-order~=0.8
autopep8~=1.2
virtualenv~=15.0
